img {
  height: auto;
  width: 100%;
}
.banner-service {
  width: 100%;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.white {
  display: inline-block;
  width: 100%;
  margin: 0;
  background-color: #fff;
}
#crumbs ul {
  display: inline-table;
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
  background-color: #4f4f51;
  li {
    background: #ce2850;
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    margin: 0 5px 0 0;
    padding: 6px 3px 8px 15px;
    position: relative;
    text-decoration: none;
    height: 45px;
    a {
      text-decoration: none;
      span {
        color: #fff;
      }
      i {
        padding-right: 5px;
        color: #fff;
      }
    }
  }

  li:last-child {
    background: #4f4f51;
    margin: 0;
    width: 100%;
  }
}

// section8 product
#products {
  width: 100%;
  margin-top: 5%;
  .page-title-slider-1 {
    h1 {
      overflow: hidden;
      text-transform: uppercase;
      color: #0aa4ab;
      font-size: 24px;
      margin: 0;
      background: rgba(0, 0, 0, 0) url(../images/bg_h2.png) no-repeat scroll
        center bottom;
      padding-bottom: 30px;
    }
  }
  .list-product {
    width: 100%;
    padding-top: 1%;
    .item-product {
      text-align: center;
      .g-image {
        border: 1px solid #cdcdcd;
        padding: 3px;
        width: 100%;
        transition: all 0.4s ease 0s;
        border-radius: 3px;
        height: 180px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 3px;
          transition: all 0.5s ease 0s;
        }
        img:hover {
          transition: all 0.5s ease 0s;
          transform: scale(1.07);
        }
      }
      .g-title {
        padding-top: 10px;
        .title-pro {
          font-size: 15px;
          text-transform: uppercase;
          color: #222;
          text-align: center;
          text-decoration: none;
        }
        .title-pro:hover {
          color: #0aa4ab;
        }
      }
    }
    .brand-photo {
      margin-top: 20px;
    }
    .clear-margin {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}

.temple{
  margin-top: 10px;
}
// xem toan bo
.view-morex {
  width: 100%;
  display: inline-block;
  a {
    background: #fff;
    border: 1px solid #999;
    box-shadow: 0 1px 1px #999;
    color: #0aa4ab;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 7px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 300px;
    margin-top: 30px;
  }
}

.officall-service {
  margin-top: 20px;
  #cmsinfo_block {
    clear: both;
    background: #eee;
    h3 {
      color: #333;
      font-size: 12px;
      font-weight: 700;
      margin: 10px 0 14px;
      text-transform: uppercase;
    }
    .content {
      min-height: 93px;
      position: relative;
      transition: all 0.3s ease 0s;
      p {
        color: #666;
        font-size: 12px;
      }
      ul {
        list-style: none;
        li.icon_check {
          color: #666;
          display: inline-block;
          font-size: 12px;
          padding: 3px 0;
          vertical-align: top;
        }
      }
    }
  }
}
